<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".activity.CoCoinApplication"
        android:allowBackup="true"
        android:icon="@drawable/cocoin_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.NewMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TagSettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.EditRecordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.EditPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SetPasswordActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.ShowActivity" />
        <activity android:name=".activity.TestActivity" />

        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>